<!-- 
    LIDANDO COM TEXTOS
         font-weight: lighter;
         line-height: 20px;
         letter-spacing: 3px;
         word-spacing: 5px;
         text-align: justify;
         text-transform: capitalize;
         text-decoration: none;
-->